@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Oswald&display=swap');

.welcome-image body {
    color: rgb(52, 198, 235);
     position: relative;
}

.welcome-image body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

/*sticky footer*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.welcome-image {
    background-image: url("../images/website/welcome-page-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.25em;
}

.home-logo {
    font-size: 4em;
    border-radius: 1em;
}

.welcome-image p {
    padding: 5em;
}

/*welcome page button*/
.welcome-image .button {
    font-size: 1.125em;
    text-decoration: none;
    color: rgb(245, 182, 66);
    border: rgb(52, 198, 235) 0.0625em solid;
    padding: 0.625em 1.25em;
    border-radius: 0.625em;
    margin-top: 2em;
}

/*welcome button styling*/
.welcome-image .button:hover{
    background: rgb(245, 182, 66);
    color: rgb(52, 198, 235);
}

/*nav-bar section*/

/*navigation color& border*/
nav {
    background: rgb(245, 182, 66);
    padding: 0.625em 2.5em 0.625em 4.375em;
    border: 0.0625em solid rgb(245, 182, 66);
    border-left: none;
    border-right: none;
    padding-bottom: 1em;
}

/*Navigation items positioning*/
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}

/*nav items positioning*/
nav ul div {
    padding: 0 0.5em;
    display: inline-flex;
}

/*nav item size and positioning*/
nav ul div.items a {
    text-decoration: none;
    font-size: 1.125em;
    padding: 0 0.75em;
}

/*nav item hover shadow*/
nav ul div.items a:hover {
    color: rgb(52, 198, 235);
}

/*search icon positioning& proportions*/
nav ul .search-icon {
     height: 2.5em;
     width: 15em;
     display: flex;
     border-radius: 0.3125em;
}

/*search bar input area*/
nav ul .search-icon input {
    height: 100%;
    width: 12.5em;
    border: none;
    outline: none;
    padding: 0 0.625em;
    color: rgb(255, 255, 255);
    font-size: 1em;
    border-radius: 0.3125em 0 0 0.3125em;
}

/*search icon proportions*/
nav ul .search-icon .icon {
    height: 100%;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border: 0.0625em solid rgb(0, 0, 0);
    border-radius: 0  0.3125em  0.3125em 0;
    cursor: pointer;
}

/*nav search icon color*/
nav ul .search-icon .icon span {
    color: rgb(30, 70, 179);
    font-size: 1.125em;
    padding: 1.5em;
}

/*nav page icons*/
.navbar-fixed li a i {
    color: rgb(30, 70, 179);
    padding-right: 1em;
}

/*add break-point to ipad pro width*/
@media screen and (max-width: 64em) {
	.navbar-fixed li a i {
        padding-right: 0.19em;
	}
}

/*side-nav mobile section*/

/*sidenav mobile bars*/
.fas fa-bars {
    color: rgb(255, 255, 255);
}

/*side-nav title*/
.side-title {
    align-items: center;
    color: rgb(30, 70, 179);
    font-weight: 800;
    padding: 2em;
}

/*side-nav tabs*/
.sidenav li a {
    align-items: center;
    color: rgb(255, 255, 255);
    border: 0.0625em solid rgb(52, 198, 235);
    border-top: none;
    border-right: none;
}

/*side nav icons*/
.sidenav li a i {
    color: rgb(245, 182, 66);
}

/*sidenav search-bar*/
.sidenav .input-field .red btn text-shadow {
    text-align: center;
    align-items: center;
    width: 50%;
    color: rgb(255, 255, 255);
}

/*homepage section*/

/*homepage card image position*/
.card-image {
    background-position: center;
    background-size: cover;
}

/*Create & edit sprint section*/

/*create page title*/
.create-title h2 {
    color: rgb(245, 182, 66);
    text-align: center;
    justify-content: center;
}

/*icon color*/
i {
    color: rgb(255, 255, 255);
}

/*create& edit page heading*/
h2 {
    color: rgb(245, 182, 66);
}

/*create form label styling*/
label {
    color: rgb(245, 182, 66);
}

/*edit& delete buttons*/
.edit-buttons {
    text-align: center;
}

/*explore sprints page*/

/*edit and delete buttons*/
.btn-small {
    margin: 0.3125em;
}

/*logged sprint title*/
h5 {
    color: rgb(30, 70, 179);
}

/*logged sprint description& difficulty*/
strong {
    color: rgb(245, 182, 66);
}

/*accordian header*/
.collapsible-header .col span {
    margin: 0.3125em;
    line-height: 2.625em;
}

/*footer section*/

/*footer title*/
.page-footer h5 {
    color: rgb(255, 255, 255);
    text-align: left;
}

/*social media icons size*/
.social {
    text-align: center;
    font-size: 2em;
}

/*icon positioning*/
.social li {
    padding: 0.5em 4em;
	padding-top: 0.5em;
    display: inline-block;
}

.social a i:hover {
    color: rgb(30, 70, 179);
}

/*footer copyright*/
.footer-copyright {
    font-style: italic;
    color: rgb(255, 255, 255);
}

/*footer icon mobsile size*/
@media screen and (max-width: 37.5em) {
	.social  {
		font-size: 0.9em;
		padding: 0.001em;
		padding-top: 1em;
        text-align: left;
	}
}

/*breakpoint for screen widths 360px*/
@media screen and (max-width: 22.5em) {
	.social {
        text-align: left;
        padding: 0.1em;
		font-size: 0.9em;
	}
}

/*breakpoint for screen widths 320px*/
@media screen and (max-width: 20em) {
	.social {
        text-align: left;
        padding: 0.1em;
		font-size: 0.8em;
	}
}

/*breakpoint widths of 280px */
@media screen and (max-width: 17.5em) {
	.social {
        text-align: left;
		font-size: 0.7em;
	}
}