@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(245, 182, 66);
}

.welcome-image body {
    color: rgb(52, 198, 235);
     position: relative;
}

.welcome-image body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.welcome-image {
    background-image: url("../images/website/welcome-page-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.25em;
}

.home-logo {
    font-size: 4em;
    border-radius: 1em;
}

.welcome-image p {
    padding: 5em;
}

/*welcome page button*/
.welcome-image .button {
    font-size: 1.125em;
    text-decoration: none;
    color: rgb(245, 182, 66);
    border: rgb(52, 198, 235) 0.0625em solid;
    padding: 0.625em 1.25em;
    border-radius: 0.625em;
    margin-top: 2em;
}

.welcome-image .button:hover{
    background: rgb(245, 182, 66);
    color: rgb(52, 198, 235);
}

/*nav-bar section*/
nav {
    background: rgb(245, 182, 66);
    padding: 0.625em 2.5em 0.625em 4.375em;
    border: 0.0625em solid rgb(245, 182, 66);
    border-left: none;
    border-right: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.home {
    flex: 1;
    font-size: 1.875em;
    font-weight: 500;
}

nav ul div {
    padding: 0 1.5625em;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 1.125em;
    padding: 0 0.75em;
}

nav ul div.items a:hover {
    color: rgb(52, 198, 235);
}

nav ul .search-icon {
     height: 2.5em;
     width: 15em;
     display: flex;
     background: rgb(52, 198, 235);
     border-radius: 0.3125em;
}

nav ul .search-icon input {
    height: 100%;
    width: 12.5em;
    border: none;
    outline: none;
    padding: 0 0.625em;
    color: rgb(187, 187, 185);
    font-size: 1em;
    border-radius: 0.3125em 0 0 0.3125em;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border: 0.0625em solid rgb(245, 182, 66);
    border-radius: 0  0.3125em  0.3125em 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: rgb(52, 198, 235);
}

nav ul .search-icon .icon span {
    color: rgb(187, 187, 185);
    font-size: 1.125em;
}

/*footer/icons section
.footer {
    text-align: center;
    height: 20em;
}

.footer img {
    height: 4em;
    border-radius: 1em;
}

.footer-header {
    padding-top: 5rem;
}

i {
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    text-align: center;
    display: inline;
}

.footer li a {
    text-decoration: none;
    font-size: 4em;
}

.facebook li a {
    color: rgb(75, 66, 245);
}

.twitter li a {
    color: rgb(66, 194, 245);
}

.fab fa-instagram a {
    color: rgb(239, 66, 245);
}