@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 1.0625em;
    color: rgb(52, 198, 235);
    line-height: 1em;
}

.welcome-image {
    background-image: url("../images/website/welcome-page-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1.25em;
}

.welcome-image h1 {
    font-size: 3.125em;
}

.welcome-image p {
    font-size: 1.25em;
}

.welcome-image .button {
    font-size: 1.125em;
    text-decoration: none;
    color: rgb(52, 198, 235);
    border: rgb(52, 198, 235) 0.0625em solid;
    padding: 0.625em 1.25em;
    border-radius: 0.625em;
}