{% extends "base.html" %}
{% block content %}
<br>
<div class="row card-panel grey lighten-5">
<form class="col s12" method="POST" action="{{ url_for('add_activity') }}">
   <div class="row">
   <div class="input-field col s12">
      <input id="name" name="name" type="text" class="validate" required>
      <label for="name">First Name</label>
   </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
         <input id="surname" name="surname" type="text" class="validate" required>
         <label for="surname">Last Name</label>
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
         <input id="gender" name="gender" required>
         <label for="gender">Gender</label>
         <select class="browser-default">
            <option value="0">Please Choose:</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Prefer not to say</option>
         </select>
      </div>
   </div>
      <!--provide your age-->
      <div class="row">
         <div class="input-field col s12">
            <label for="age">Age</label>
            <input id="age" name="task_name" type="age" class="validate" required>
         </div>
      </div>
   <!--choose specific activity-->
   <div class="row">
   <div class="input-field col s12">
      <input id="activity" name="activity" required>
      <label for="activity">Which activity</label>
      <select class="browser-default">
         <option value="0">Please choose:</option>
         <option value="1">Run</option>
         <option value="2">Walk</option>
         <option value="3">Run and walk</option>
      </select>
   </div>
   </div>
   <br>
   <div class="row">
   <div class="input-field col s12">
      <textarea id="title" name="task_title" 
         class="title" required></textarea>
      <label for="title">Name Activity</label>
   </div>
   </div>
   <br>
   <div class="row">
   <div class="input-field col s12">
      <textarea id="task_description" name="description" class="description" required></textarea>
      <label for="description">Describe your activity</label>
   </div>
   </div>
   <br>
   <div class="row">
   <div class="input-field col s12">
      <input id="difficulty" name="difficulty" required>
      <label for="difficulty">How hard was this activity?</label>
      <select class="browser-default">
         <option value="0">Please choose:</option>
         <option value="1">Light</option>
         <option value="2">Easy</option>
         <option value="3">Moderate</option>
         <option value="4">Hard</option>
         <option value="5">Very Hard</option>
      </select>
   </div>
   </div>
   <br>
   <!--Date of activity calendar-->
   <div class="row" id="matfix">
   <div class="input-field col s12">
      <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
      <input id="date" name="date" type="text" class="datepicker validate" required>
      <label for="date">Date</label>
   </div>
   </div>
   <!--save activity button-->
   <br>
   <div class="row"></div>
   <div class="col s12 center-align"></div>
   <button type="submit" class="btn large light-green darken-1 text-shadow">
   Save activity <i class="fas fa-plus-square left"></i>
   </button>
</form>
</div>
{% endblock %}