{% extends "base.html" %}
{% block content %}

 
  {% for activities in activities %}
    {{ activities.activities_name }}<br>
    {{ activities.activities_last_name }}<br>
    {{ activities.activities_gender }}<br>
    {{ activities.activities_age }}<br>
    {{ activities.activities_choose_activity }}<br>
    {{ activities.activities_name_your_activity }}<br>
    {{ activities.activities_describe_activity }}<br>
    {{ activities.activities_activity_difficulty }}<br>
  {% endfor %}

  {% endblock %}