{% extends "base.html" %}
{% block content %}
<br>
<h2>Edit Sprint</h2>
<div class="row card-panel grey lighten-5">
   <form class="col s12" method="POST" action="{{ url_for('edit_activity', task_id=task._id) }}">
      <!--choose specific activity-->
      <div class="row">
         <div class="input-field col s12">
            <select id="task_activity" name="task_activity" required>
               <option value="" disabled>Please select:</option>
               <option value="Run" selected>Run</option>
               <option value="Walk">Walk</option>
               <option value="Run and Walk">Run and walk</option>
            </select>
            <label for="task_activity">Select activity</label>
         </div>
      </div>
      <!--edit activity title-->
      <div class="row">
         <div class="input-field col s12">
            <textarea id="task_title" name="task_title" class="validate" 
               minlength="5" maxlength="20" required>{{ task.task_title }}</textarea>
            <label for="task_title">Name Activity</label>
         </div>
      </div>
      <br>
      <!--Edit activity description-->
      <div class="row">
         <div class="input-field col s12">
            <textarea id="task_description" name="task_description" 
               class="materialize-textarea validate" minlength="5" maxlength="100" required>{{ task.task_description }}</textarea>
            <label for="task_description">Describe your activity</label>
         </div>
      </div>
      <br>
      <!--edit activity difficulty-->
      <div class="input-field col s12">
         <select id="task_difficulty" name="task_difficulty" required>
            <option value="" disabled>Please select:</option>
            <option value="{{ task.task_difficulty }}">Light</option>
            <option value="{{ task.task_difficulty }}">Easy</option>
            <option value="{{ task.task_difficulty }}">Moderate</option>
            <option value="{{ task.task_difficulty }}" selected>Hard</option>
            <option value="{{ task.task_difficulty }}">Very Hard</option>
         </select>
         <label for="task_difficulty">Select difficulty</label>
      </div>
      <br>
      <!--Date of activity calendar-->
      <div class="row" id="matfix">
         <div class="input-field col s12">
            <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
            <textarea id="task_date" name="task_date" type="text" class="datepicker validate" required>{{ task.task_date }}</textarea>
            <label for="task_date">Date</label>
         </div>
      </div>
      <!--save activity button-->
      <br>
      <div class="edit-buttons">
         <button type="submit" class="btn-large green darken-1 text-shadow">
         Edit Activity <i class="fas fa-edit right "></i>
         </button>
         <!--Cancel changes button-->
         <br>
         <div class="row"></div>
         <div class="col s12 center-align"></div>
         <!--cancel changes made button-->
         <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">
         Cancel <i class="fas fa-times-circle right"></i>
         </a>
         <br>
      </div>
   </form>
</div>
{% endblock %}