<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--font-awesome library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
            integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" type="text/css" />
        <!--custom css file-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <!--site name-->
        <title>Sprint</title>
        <!--Favicon, site icon-->
        <link id="favicon" rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    </head>
    <body class="welcome-image">
        <!--Error message and return home button-->
        <div class="error">
            <h1>Error, this Sprint no longer exists</h1>
            <a href="{{ url_for('tasks') }}" class="btn-large green darken-2"></a>
            Run back home
        </div>
    </body>
</html>