{% extends "base.html" %}
{% block content %}
<br>
<!--collapsible accordian with for sprint loop-->
<ul class="collapsible">
    {% for sprint in sprints %}
    <li>
        <!--accordian header, sprint date& title-->
        <div class="collapsible-header light-blue darken-4 white-text text-shadow">
            <i class="fas fa-caret-down arrow"></i>
            <!--Call date and title-->
            <h6>{{ sprint.sprint_date }}
                <br>
                {{ sprint.sprint_title }}
            </h6>
            <a href="{{ url_for('edit_activity', sprint_id=sprint._id) }}" class="btn-small orange darken-2">
            Edit 
            </a>
            <br>
            <a href="{{ url_for('delete_activity', sprint_id=sprint._id) }}" class="btn-small red accent-4">
            Delete
            </a>
        </div>
        <!--Collapsible body, sprint description& difficulty-->
        <div class="collapsible-body row card-panel light-grey darken-1">
            <div>
                <h5>Activity description:</h5>
                <strong>{{ sprint.sprint_description }}</strong>
                <br>
                <h5>Activity difficulty:</h5>
                <strong>{{ sprint.sprint_difficulty }}</strong>
                <br>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}