{% extends "base.html" %}
{% block content %}
<br>
<ul class="collapsible">
   {% for task in tasks %}
   <li>
      <div class="collapsible-header light-blue darken-4 white-text text-shadow">
         <i class="fas fa-caret-down"></i>
         {{ task.task_date }}
         <br>
         {{ task.task_title }}
      </div>
      <div class="collapsible-body row card-panel light-grey darken-1">
         <span>
            <h5>Activity description:</h5>
            <strong>{{ task.task_description }}</strong>
            <br>
            <h5>Activity difficulty:</h5>
            <strong>{{ task.task_difficulty }}</strong>
            <br>
            <br>
            <hr>
            <div>
               <a href="{{ url_for('edit_activity', task_id=task._id) }}" class="btn-small orange darken-2">
               Edit Activity</a>
               <br>
               <div>
                  <a href="{{ url_for('delete_activity', task_id=task._id) }}" class="btn-small red accent-4">
                  Delete Activity</a>
               </div>
            </div>
         </span>
      </div>
   </li>
   {% endfor %}
</ul>
{% endblock %}