{% block content %}
  <div class="row">
    <div class="col s12 m7">
      <div class="card small">
        <div class="card-image">
          <img src="static/images/home/create-card.jpg">
          <span class="card-title">Create</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('add_activity') }}">Create a Sprint</a>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="row">
    <div class="col s12 m7">
      <div class="card small">
        <div class="card-image">
          <img src="static/images/home/explore-card.jpg">
          <span class="card-title">Explore</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('get_tasks') }}">Explore Sprints</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}