{% extends "base.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
    <div class="card-image">
      <img src="static/images/home/create-card.jpg" class="card-img-top" alt="Runner in the dunes">
      <div class="card-body">
        <h5 class="card-title">Create A Sprint</h5>
        <a href="#!"><button>Go</button></a>
      </div>
    </div>
  </div>
  </div>
  <div class="col mb-4">
    <div class="card">
    <div class="card-image">
      <img src="static/images/home/explore-card.jpg" class="card-img-top" alt="Runners exploring">
      <div class="card-body">
        <h5 class="card-title">Explore Your Sprints</h5>
        <a href="#!"><button>Go</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}