{% extends "base.html" %}
{% block content %}
<br>
<!--Create sprint card-->
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card large">
        <div class="card-image">
          <img src="static/images/home/create-card.jpg">
          <span class="card-title">Create A Sprint</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('add_activity') }}" class="btn-large green darken-1 text-shadow">Create Sprint</a>
        </div>
      </div>
    </div>
<!--Explore Sprint card-->
    <div class="col s6">
    <div class="card large">
    <div class="card-image">
        <img src="static/images/home/explore-card.jpg">
          <span class="card-title">Explore Your Sprints</span>
           </div>
        <div class="card-action">
    <a href="{{ url_for('get_tasks') }}" class="btn-large green darken-1 text-shadow">Explore Sprints</a>
    </div>
</div>
  </div>
  </div>
</div>
{% endblock %}