<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--font-awesome library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
            integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" type="text/css" />
        <!--custom css file-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <!--site name-->
        <title>Sprint</title>
        <!--Favicon, site icon-->
        <link id="favicon" rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
    </head>
    <!--The Welcome image, main body of page-->
    <body class="welcome-image">
        <div>
            <h2>Create your running legacy below<i class="fas fa-arrow-circle-down"></i></h2>
            <a href="{{ url_for('get_home') }}" class="button">Sprint on in<i class="fas fa-running"></i></a>
        </div>
    </body>
</html>