{% extends "base.html" %}
{% load static %}

{% block content %}

<h3>Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!--User is required to input a valid username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!--User is required to input a password-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- User submits request be added to the platform -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}